<header id="header"> <a class="info_link" href="{{ path('RawafedBundle_home') }}">
        <div class="logo"></div>
    </a>
    <ul id="nav">
        <li class="current"><a id="link-home" class="info_link" href="{{ path('RawafedBundle_home') }}">Home</a></li>
        <li class="last_noborder"><a id="link-contactus" class="info_link" href="{{ path('RawafedBundle_contactus') }}">Contact Us</a></li>
        <li><a href="#"><img src="{{ asset('bundles/rawafed/images/arabic_icon.png') }}" width="27" height="27" /></a></li>
    </ul>
</header>
