<div class="promo">
    <div class="promo_img"><img src="{{ asset('bundles/rawafed/images/services_banner.jpg') }}" width="630" height="300" alt="services" /></div>
    <div class="promo_data">

        <h2>Services</h2>
        <p>of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when ...of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's 
            standard dummy text ever since the 1500s, when
            <a href="javascript:showMore('services_content');">...more</a>
        </p>

    </div>
</div>
<div id="services_content" style="display: none;">
    <div class="introduction">
        <h3>Services</h3>
        <p>And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when ...of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
            text ever since the 1500s, when ...of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
    </div>
    <div class="text_section">
        <h3>CMS</h3>
        <p> <img src="{{ asset('bundles/rawafed/images/default_img.gif') }}" width="130" height="100" />And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when ...of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when ...of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>

</div>